* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bookContent {
    width: 1000px;
    height: 734px;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
}

.leftPage {
    width: 100%;
    height: 100%;
    background-image: url('../img/leftPage.png');
    background-repeat: no-repeat;
}

.rightPage {
    width: 100%;
    height: 100%;
    background-image: url('../img/rightPage.png');
    background-repeat: no-repeat;
    position: relative;
}

.storyContent {
    margin: 25px 40px;
    width: 421px;
    height: 684px;
}

.contentStyle {
    text-align: center;
    width: 100%;
    height: 100%;
}

.leftPageFooter {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 35px;
    right: 30px;
}

#chapter {
    font-size: 1em;
    margin-right: 12px;
    margin-top: 10px;
}

#pageNumber {
    font-size: 1.6em;
}